<li class="clearfix">
    <div class="hot_pos_l">
        <div class="mb10">
            <a href="http://www.lagou.com/jobs/200276.html?source=search" title="iOS" target="_blank">iOS</a>
            &nbsp;
            <span class="c9">[北京]</span>
        </div>
        <span><em class="c7">月薪：</em>10k-20k</span>
        <span><em class="c7">经验：</em> 3-5年</span>
        <span><em class="c7">最低学历： </em>本科</span>
        <br/>
        <span><em class="c7">职位诱惑：</em>有竞争力的薪酬福利；舒适的办公环境</span>
        <br/>
        <span>10:32发布</span>
    </div>
    <div class="hot_pos_r">
        <div class="apply">
            <a href="http://www.lagou.com/jobs/200276.html?source=search" target="_blank">投个简历</a>
        </div>
        <div class="mb10"><a href="http://www.lagou.com/gongsi/2768.html" title="易到用车" target="_blank">易到用车</a>
        </div>
        <span><em class="c7">领域： </em>移动互联网,O2O</span>
        <span><em class="c7">创始人：</em> 周航</span>
        <br/>
        <span><em class="c7">阶段： </em>成熟型(D轮及以上)</span>
        <span><em class="c7">规模： </em>150-500人</span>
        <ul class="companyTags reset">
            <li>绩效奖金</li>
            <li>股票期权</li>
            <li>五险一金</li>
        </ul>
    </div>
</li>
<li class="odd clearfix">
    <div class="hot_pos_l">
        <div class="mb10">
            <a href="http://www.lagou.com/jobs/171011.html?source=search" title="iOS" target="_blank">iOS</a>
            &nbsp;
            <span class="c9">[北京]</span>
        </div>
        <span><em class="c7">月薪：</em>13k-25k</span>
        <span><em class="c7">经验：</em> 1-3年</span>
        <span><em class="c7">最低学历： </em>本科</span>
        <br/>
        <span><em class="c7">职位诱惑：</em>福利待遇好，弹性上下班，工作环境优雅</span>
        <br/>
        <span>11:17发布</span>
    </div>
    <div class="hot_pos_r">
        <div class="apply">
            <a href="http://www.lagou.com/jobs/171011.html?source=search" target="_blank">投个简历</a>
        </div>
        <div class="mb10"><a href="http://www.lagou.com/gongsi/1970.html" title="去哪儿网" target="_blank">去哪儿网</a>
        </div>
        <span><em class="c7">领域： </em>移动互联网</span>
        <span><em class="c7">创始人：</em> 庄辰超</span>
        <br/>
        <span><em class="c7">阶段： </em>上市公司</span>
        <span><em class="c7">规模： </em>2000人以上</span>
        <ul class="companyTags reset">
            <li>技能培训</li>
            <li>节日礼物</li>
            <li>带薪年假</li>
        </ul>
    </div>
</li>


<!--
# 创建文件夹，昨天刚学会
path = os.getcwd()   				     # 获取此脚本所在目录
new_path = os.path.join(path,u'暴走漫画')
if not os.path.isdir(new_path):
  os.mkdir(new_path)


def page_loop(page=1):
  url = 'http://baozoumanhua.com/all/hot/page/%s?sv=1389537379' % page
  content = urllib2.urlopen(url)
  soup = BeautifulSoup(content)

  my_girl = soup.find_all('div',class_='img-wrap')
  for girl in my_girl:
    jokes = girl.find('img')
    link = jokes.get('src')
    flink = link
    print flink
    content2 = urllib2.urlopen(flink).read()

    #with open(u'暴走漫画'+'/'+time.strftime('%H-%M-%S')+random.choice('qwertyuiopasdfghjklzxcvbnm')+flink[-5:],'wb') as code:          #在OSC上现学的
    with open(u'暴走漫画'+'/'+flink[-11:],'wb') as code:
      code.write(content2)

  page = int(page) + 1
  print u'开始抓取下一页'
  print 'the %s page' % page
  page_loop(page)

page_loop()
-->